// >>-- 01 Variables css start --<<
:root {
    --app-text-rgb: 21, 38, 75;
    --app-title-rgb: 28, 50, 100;
    --app-muted-rgb: 91, 100, 114;
    --font-color: rgb(var(--app-text-rgb));
    --font-title-color: rgb(var(--app-title-rgb));
    --body-color: #f9f9f9;
    --bodybg-color: #f6f6f6;
    --font-secondary-color: rgba(var(--app-muted-rgb), 0.94);
    --font-muted-color: rgba(var(--app-muted-rgb), 0.78);
    --font-light-color: #a0a0b0;
    --grid_color: rgba(144, 164, 246, 0.21);
    --border_color: rgba(0, 0, 0, 0.21);
    --primary: 72, 190, 206;
    --secondary: var(--app-muted-rgb);
    --success: 174, 204, 52;
    --danger: 299,94,64;
    --warning: 235,195,63;
    --info : 83,90,231;
    --light: 229, 227, 224;
    --dark: var(--app-text-rgb);
    --black: 0, 0, 0;
    --border_color: #ebedf0;
    --bs-body-color: var(--font-color);
    --bs-body-color-rgb: var(--app-text-rgb);
    --bs-heading-color: var(--font-title-color);
    --bs-secondary: rgb(var(--secondary));
    --bs-secondary-rgb: var(--secondary);
    --bs-secondary-color: var(--font-secondary-color);
    --bs-dark: rgb(var(--dark));
    --bs-dark-rgb: var(--dark);
    --bs-card-color: var(--font-color);
    --bs-dropdown-color: var(--font-color);
    --bs-list-group-color: var(--font-color);
    --bs-modal-color: var(--font-color);
    --bs-offcanvas-color: var(--font-color);
    --bs-tertiary-color: var(--font-muted-color);

    --bs-dropdown-link-active-color: var(--font-title-color);
    --bs-dropdown-link-active-bg: rgba(var(--primary), 0.2);



    @mixin btn_css($name, $color) {
        .btn-#{$name}{
            --bs-btn-disabled-bg: rgba(var(--#{$color}), 0.8);
            --bs-btn-disabled-border-color: rgba(var(--#{$color}), 0.8);
        }
        .btn-outline-#{$name}{
            --bs-btn-color: rgba(var(--#{$color}), 1);
            --bs-btn-border-color: rgba(var(--#{$color}), 1);
            --bs-btn-hover-bg: rgba(var(--#{$color}), 1);
            --bs-btn-hover-border-color: rgba(var(--#{$color}), 1);
            --bs-btn-active-bg: rgba(var(--#{$color}), 1);
            --bs-btn-active-border-color: rgba(var(--#{$color}), 1);
            --bs-btn-disabled-color: rgba(var(--#{$color}), 1);
            --bs-btn-disabled-border-color: rgba(var(--#{$color}), 1);
        }
    }

    // Social media colors
    --facebook : 59, 89, 152;
    --twitter : 85, 172, 238;
    --pinterest : 189, 8, 28;
    --linkedin : 0, 119, 181;
    --reddit : 255, 69, 0;
    --whatsapp : 67, 216, 84;
    --gmail : 234, 67, 53;
    --telegram : 0, 64, 93;
    --youtube : 205, 32, 31;
    --vimeo : 26, 183, 234;
    --behance : 23, 105, 255;
    --github : 0, 64, 93;
    --skype : 0, 175, 240;
    --snapchat : 255, 250, 55;

    // --box-shadow: 0 0.20rem 2rem  var(--light-gray);
    --box-shadow: 0px 0px 21px 3px rgba(var(--secondary), 0.05);
    --hover-shadow: 0 0.5rem 2rem  var(--light-gray);
    --app-transition: all 0.3s ease;
    --light-gray: #f4f7f8;
    --white: #ffffff;
    --p-line-height: 1.6;
    --link-color: var(--primary-color);


    //Typography
    --font-size: 14px;
    --p-font-size: 14px;
    --h1-font-size :  2.5rem;
    --h2-font-size : 2rem;
    --h3-font-size : 1.75rem;
    --h4-font-size : 1.25rem;
    --h5-font-size : 1.125rem;
    --h6-font-size : 1rem;
    --btn-font-size : 15px;
    --app-border-radius: 0.8rem;
    --bs-border-radius: 0.5rem;
    --bs-accordion-inner-border-radius: 0.5rem;
}
.default{
    --primary: 79,201,218;
}
.gold{
    --primary: 192,127,0;
}
.warm{
    --primary: 255,103,125;
}
.happy{
    --primary: 36,114,145;
}
.nature{
    --primary: 127,180,20;
}
.cold{
    --primary: 3, 4, 94;
}
.hot{
    --primary: 255,0,77;
}



nav.dark-sidebar,
body.dark {
    --app-text-rgb: 255, 255, 255;
    --app-title-rgb: 255, 255, 255;
    --app-muted-rgb: 255, 255, 255;
    --white: #333644;
    --black: #DCE2F0;
    --bodybg-color: #282a36;
    --bs-body-bg: #333644;
    --font-color: rgb(var(--app-text-rgb));
    --font-title-color: rgb(var(--app-title-rgb));
    --font-secondary-color: rgba(var(--app-muted-rgb), 0.84);
    --font-muted-color: rgba(var(--app-muted-rgb), 0.68);
    --box-shadow: 0 0.2rem 1rem #333644;
    --hover-shadow: 0 0.2rem 2rem #333644;
    --light-gray: #333644;
     --light: 71, 71, 96;
    --dark: var(--app-text-rgb);
    --secondary: var(--app-muted-rgb);
    //--light:87, 88, 99l;
    //--dark: 87, 88, 99;
    --link-color: #eaeaec;
    --border_color: #474a56;
    --bs-border-color: #474a56;
    --bs-card-border-color: #5B5E69;
    --bs-form-control-bg: #333644;
    --bs-body-color: var(--font-color);
    --bs-heading-color: var(--font-title-color);
    --bs-secondary: rgb(var(--secondary));
    --bs-secondary-rgb: var(--secondary);
    --bs-secondary-color: var(--font-secondary-color);
    --bs-list-group-color: var(--font-color);
    --bs-body-color-rgb: var(--app-text-rgb);
    --bs-dark: rgb(var(--dark));
    --bs-dark-rgb: var(--dark);
    --bs-text-opacity: 1;
    --bs-card-color: var(--font-color);
    --bs-dropdown-color: var(--font-color);
    --bs-dropdown-link-active-color: var(--font-title-color);
    --bs-modal-color: var(--font-color);
    --bs-offcanvas-color: var(--font-color);
    --bs-tertiary-color: var(--font-muted-color);
    --bs-tertiary-bg: #242425;

    //.btn-dark,.btn{
    //    --bs-btn-color: #000000;
    //    --bs-btn-hover-color: #5B5E69;
    //}
    .disabled>.page-link, .page-link.disabled {
        color:#eaeaec;
        background-color: #333644;
        border-color: #474a56;
    }

}
body{
    &[text='small-text']{
        --font-size: 13px;
        --p-font-size: 13px;
        --h1-font-size :  2rem;
        --h2-font-size : 1.75rem;
        --h3-font-size : 1.25rem;
        --h4-font-size : 1.125rem;
        --h5-font-size : 1rem;
        --h6-font-size : 15px;
        --btn-font-size : 13px;
    }
    &[text='medium-text']{
        --font-size: 14px;
        --p-font-size: 14px;
        --h1-font-size :  2.81rem;
        --h2-font-size : 2.18rem;
        --h3-font-size : 1.875rem;
        --h4-font-size : 1.625rem;
        --h5-font-size : 1.25rem;
        --h6-font-size : 1rem;
        --btn-font-size : 15px;
    }
    &[text='large-text']{
        --font-size: 16px;
        --p-font-size: 16px;
        --h1-font-size :  2.75rem;
        --h2-font-size : 2.5rem;
        --h3-font-size : 2rem;
        --h4-font-size : 1.75rem;
        --h5-font-size : 1.25rem;
        --h6-font-size : 1.125rem;
        --btn-font-size : 17px;
    }
}

$bottom-shadow : 0 8px 6px -5px var(--light-gray);
$sidebar-width: 17rem;
$semi-nav: 4.5rem;
$font-Golos: "Golos Text";
$font-Shabnam: "Shabnam";
$theme-body-font-color: #2b2b2b;
$theme-body-sub-title-color: rgba($theme-body-font-color, 0.7);
$tabler-icons : tabler-icons;
// >>-- 01 Variables css start --<<
